<!DOCTYPE html>
<html>
<head>
  <title>InnovationCloud</title>
    <%= stylesheet_link_tag 'application', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="header">
      <div class="container">
        <h1>Zenith Academy East</h1>
        <p>Let's work on our Children Education Together</p>
        <a class="btn" href="#">Learn More</a>
      </div>
    </div>
    
     <div class="nav">
      <div class="container">
        <ul>
          <a href="#"><li>Home</li></a>
          <a href="#"><li>Academy</li></a>
          <a href="#"><li>Admission</li></a>
          <a href="#"><li>About</li></a>
          <a href="#"><li>Contact</li></a>
        </ul>
      </div>
    </div>
    <%= yield %>
  
      <div class="footer">
        <div class="container">
           <p>&copy; Zenith Academy East</p>
        </div>
    </div>
</body>
</html>
